.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.imgProduct{
    height: 100px;
    width: 100px;
}