/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;   
}

.component{
 border: 1px solid black;
 padding: 10px;
 margin-bottom: 10px;   
}

.button{
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgb(173, 213, 255);
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(94, 168, 246);
}

.inputText{
    border: 1px solid rgb(161, 159, 159);;
    border-radius: 10px;
    height: 25px;
    font-weight: bold;
    padding: 0px 20px;
}
